/* 
- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)
- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* Centering */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography & Color */

.container {
    margin: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: .9375rem;
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
}

header {
    text-align: center;
}

h1 {
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

h1 .bold {
    font-weight: 600;
}

.card {
    text-align: left;
}

h2 {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

p {
    line-height: 1.5rem;
}

/* Box Model */

.container {
    max-width: 27rem;
    padding: 4rem 2rem 4rem 2rem;
}

header h1 {
    margin-bottom: 1rem;
}

header {
    margin-bottom: 3.5rem;
}

h2 {
    margin-bottom: 0.7rem;
}

.card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    min-height: 16rem;
    position: relative;
    box-shadow: 0rem 1rem 1rem #D8E2EE;
}

.card:first-of-type {
    margin-bottom: 1.75rem;
    border-top: 0.35rem solid hsl(180, 62%, 55%);
}

.card:nth-child(2) {
    margin-bottom: 1.75rem;
    border-top: 0.35rem solid hsl(0, 78%, 62%);
}

.card:nth-child(3) {
    margin-bottom: 1.75rem;
    border-top: 0.35rem solid hsl(34, 97%, 64%);
}

.card:nth-child(4) {
    border-top: 0.35rem solid hsl(212, 86%, 64%);
}

.card img {
    position: absolute;
    right: 1.5rem;
    bottom: 2rem;
}

/* Layout */