* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: .85rem;
    background-color: hsl(0, 0%, 100%);
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

/* === Typography === */

h1 {
    color: hsl(300, 43%, 22%);
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 2rem;
}

p {
    color: hsl(303, 10%, 53%);
    line-height: 1.5rem;
}

h2 {
    color: hsl(300, 43%, 22%);
    font-size: .85rem;
}

h3 {
    color: hsl(300, 24%, 96%);
    font-size: .85rem;
}

h4 {
    color: hsl(333, 80%, 67%);
    font-size: .85rem;
    font-weight: 500;
}

#testimonials p {
    color: hsl(300, 24%, 96%);
}

/* === Box Model === */

#container {
    margin: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

}

/* Description */
#description {
    text-align: center;
    padding: 1rem;
    max-width: 450px;
}

#description h1 {
    margin-bottom: 1.5rem;
}

/* Ratings */
#ratings .container {
    background-color: hsl(300, 24%, 96%);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    max-width: 450px;
}

.stars {
    margin-bottom: 0.75rem;
}

/* Testimonials */
#testimonials {
    margin-top: 3rem;
}

#testimonials .container {
    background-color: hsl(300, 43%, 22%);
    padding: 1.75rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    max-width: 450px;
}

.buyer-info img {
    border-radius: 100%;
    width: 3.5rem;
}

.buyer-info {
    text-align: left;
    margin-bottom: 1rem;
}

.buyer-info h3 {
    margin-bottom: 0.3rem;
}

/* === Layout === */

body {
    /* Centering */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: auto;
}

.buyer-info {
    display: grid;
    grid-template-columns: 20% 80%
}

.buyer-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}